img {
    width: 300px;
    height: 300px;
}

#title {
    color: cornflowerblue;
}

h1 {
    color: blueviolet;
}

h2 {
    color: chocolate;
}

p {
    font-size: 25px;
    border: 1px solid;
    background-color: azure;
    padding: 30px 40px 30px 40px;
    color: darkcyan;
}